<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxiaoke.urlexpander"
    android:sharedUserId="com.mcxiaoke.android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExpandActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="t.co" />
                <data
                    android:scheme="https"
                    android:host="t.co" />

                <data
                    android:scheme="https"
                    android:host="fb.me" />

                <data
                    android:scheme="http"
                    android:host="fb.me" />
                <data
                    android:scheme="http"
                    android:host="j.mp" />
                <data
                    android:scheme="http"
                    android:host="bit.ly" />
                <data
                    android:scheme="http"
                    android:host="is.gd" />
                <data
                    android:scheme="http"
                    android:host="ow.ly" />
                <data
                    android:scheme="http"
                    android:host="goo.gl" />
                <data
                    android:scheme="http"
                    android:host="tinyurl.com" />
                <data
                    android:scheme="http"
                    android:host="tiny.cc" />
                <data
                    android:scheme="http"
                    android:host="bit.do" />

                <data
                    android:scheme="http"
                    android:host="cli.gs" />

                <data
                    android:scheme="http"
                    android:host="yourls.org" />

                <data
                    android:scheme="http"
                    android:host="gplus.to" />


            </intent-filter>
        </activity>
    </application>
</manifest>
